@page "/counter/{initialCounter:int?}"
@page "/counter2"

@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (currentCount > 3)
{
    <p>You win!</p>
}

<ul>
    @for (int i = 0; i < currentCount; i++)
    {
        <li>Clicked</li>
    }
</ul>

<p>Initial route count: @InitialCounter</p>

@code {
    private int currentCount;

    [Parameter]
    public int? InitialCounter { get; set; }

    protected override void OnParametersSet()
    {
        currentCount = InitialCounter ?? 0;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
